.App-Cancel {
    text-align: center;
  }

  .Box-Dias{
    padding-right: 13px;
  }

  .Box-Horas{
    padding-right: 95px;
  }

  .btn-ToTable{
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #61dafb;
    border-radius: 6px;
    color: #000000;
    font-weight: bold;
    background-color: #61dafb;
    transition: ease-in 0.3s;
  }

  .btn-ToTable:hover{
      cursor: pointer;
      color: #000000;
      background-color: #05b8e9;
  }

  .btn-Cancelado{
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #61dafb;
    border-radius: 6px;
    color: #000000;
    font-weight: bold;
    background-color: #61dafb;
    transition: ease-in 0.3s;
  }

  .btn-Cancelado:hover{
    cursor: pointer;
    color: #000000;
    background-color: #05b8e9;
  }