 .App{
    text-align: center;
 }

.App-Table {
    text-align: center;
    padding-left: 490px;
    padding-top: 40px;
  }

 .btn-Tabela{
        padding: 10px 16px;
        font-size: 14px;
        background-color: transparent;
        border: 1px solid #3bf516;
        border-radius: 6px;
        color: #000000;
        font-weight: bold;
        transition: ease-in 0.3s;    
        background-color: #38e915;
 }

  .btn-Tabela:hover{
      cursor: pointer;
      color: #000000;
      background-color: #00d61d;
  }

  .btn-Agenda{
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #3bf516;
    border-radius: 6px;
    color: #000000;
    font-weight: bold;
    transition: ease-in 0.3s;    
    background-color: #38e915;
  }

  .btn-Agenda:hover{
    cursor: pointer;
    color: #000000;
    background-color: #00d61d;
  }